#locations {
	max-width: 95%;
	margin: 0 auto;
	padding: 150px 20px 0px 20px;
	/* background: red; */
	text-align: center;
}

#locations h2 {
	font-size: 34px;
}

#locations .location-container {
	border-bottom: 2px solid #2E97F2;
	max-width: 90%;
	min-height: 340px;
	margin: 0 auto;
	/* background: blue; */
	display: flex;
	justify-content: flex-start;
	/* align-items: center; */
}

#locations .location-container:last-child {
	/* background: red; */
	border: none;
}

#locations .location-container .info-container {
	margin-top: 20px;
	min-width: 35%;
	text-align: left;
}

#locations .location-container .info-container h3 {
	margin-bottom: 10px;
}

#locations .location-container .info-container .contact-info {
	/* background: pink; */
	margin-bottom: 10px;
	/* text-align: left; */
}

#locations .location-container .map-container {
	margin-top: 20px;
	min-width: 50%;
	margin-left: 29px;
	padding: 5px;
	margin-bottom: 15px;
	/* background: red; */
}

#locations .location-container .map-container iframe {
	width: 125.5%;
	height: 295px;
}


/* tablets */

@media only screen and (max-width: 1024px) {
	#locations .location-container .map-container {
		margin-top: 20px;
		min-width: 61%;
		margin-left: 31px;
		padding: 5px 0px;
		/* background: purple; */
	}
	#locations .location-container .map-container iframe {
		width: 100%;
	}
}


/* tablets */

@media only screen and (max-width: 1023px) {
	#locations .location-container .info-container {
		font-size: 15px;
	}
	#locations .location-container .info-container h3 {
		margin-bottom: 8px;
	}
	#locations .location-container .map-container iframe {
		width: 96.5%;
	}
}


/* phones */

@media only screen and (max-width: 767px) {
	#locations {
		max-width: 100%;
		padding: 150px 1px 30px 1px;
		/* background: gray; */
		text-align: center;
	}
	#locations .location-container {
		display: block;
		min-width: 100%;
		/* background: pink; */
		margin: 0px;
		padding: 0 21px;
	}
	#locations .location-container .info-container {
		margin-left: 4px;
		/* background: green; */
	}
	#locations .location-container .map-container {
		margin-top: 20px;
		/* background: red; */
		margin-left: 0px;
	}
	#locations .location-container .map-container iframe {
		width: 100%;
		height: 295px;
	}
}